<button mat-raised-button routerLink="/projects" style="margin:10px">Back</button>
<div class="container">

  <h1>Task List</h1>
  <h4>{{projectName}}</h4>
  <h5>{{description}}</h5>






  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter task name</mat-label>
      <input matInput [(ngModel)]="inputName">
    </mat-form-field>

    <mat-form-field style="padding-left: 10px;" appearance="fill">
      <mat-label>Select Person</mat-label>
      <mat-select [(value)]="inputUserId">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.userName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="padding-left: 10px;" appearance="fill">
      <mat-label>Deadline</mat-label>
      <input type="date" [(ngModel)]="task.deadLine" matInput placeholder="Deadline">
    </mat-form-field>
    <button style="margin:0 0 0 10px; height: 55px; top:-8px" color="accent" mat-raised-button (click)="AddTask()">Add Task</button>
  </div>

  

      <div class="root">
      <div class="board">
      <div class="board-wrapper">
        <div class="board-columns">

          <div cdkDropList
               cdkDropListOrientation="horizontal" class="board-columns"
               (cdkDropListDropped)="dropGrid($event)">
            <div cdkDragLockAxis="x" class="board-column"
                 *ngFor="let column of board.columns" cdkDrag>
              <div class="column-title" cdkDragHandle>
                {{ column.name }}
              </div>
              <div class="tasks-container"
                   id="{{column.id}}"
                   [cdkDropListConnectedTo]="['1', '2','3']"
                   cdkDropList
                   [cdkDropListData]="column.tasks"
                   (cdkDropListDropped)="drop($event)">
                <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                  <div style="font-size: 12px;margin-top:0px;"><mat-icon style="width: 19%;" inline=true (click)="openDeleteDialog(item)">close</mat-icon><div style="text-align: right;width:80%;display:inline-block;right:0">{{ item.deadLine | date }}</div></div>
                  <hr style ="margin: 5px 0"/>
                  <div style="font-size: 14px;">{{ item.name }}</div>
                 
                  <div style="text-align: right;font-size: 12px;color:slategray;"> {{item.assign}}</div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
