<div class="mainForm">
  <h3>Please create account</h3>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input type="text" [(ngModel)]="username" matInput placeholder="Username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input type="password" [(ngModel)]="password" matInput placeholder="Password">
    </mat-form-field>
  </p>

  <div>
    <button (click)="onSubmit()" type="button" mat-flat-button color="primary">Sing Up</button>
    <a mat-stroked-button routerLink="/login" style="margin-left: 10px;">Log in</a>
  </div>
</div>