@import './../../../scss/animations/fadeIn.scss';
@import './../../../scss/animations/fadeOut.scss';

.spinner-container {
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.full-height {
    min-height: calc(100vh);
}

.smaller-height {
    min-height: calc(100vh - 80px);
}

.show-container {
    display: flex;
    z-index: 999;
    background-color: rgb(0, 0, 0, 0.3);
}

.bg-fade-in {
    animation: bgFadeIn 0.7s;
}

.bg-fade-out {
    animation: bgFadeOut 0.7s;
}

@keyframes bgFadeIn {
    from {
        background-color: rgb(0, 0, 0, 0);
    }

    to {
        background-color: rgb(0, 0, 0, 0.3);
    }
}

@keyframes bgFadeOut {
    from {
        background-color: rgb(0, 0, 0, 0.3);
    }

    to {
        background-color: rgb(0, 0, 0, 0);
    }
}

.logo-container {
    position: absolute;
    margin: 0px auto;

    .logo {
        position: absolute;
        width: 200px;
        height: auto;
        transition: width .5s ease, margin-left .5s ease;
    }

    .logo-before {
        margin-top: -35px;
        margin-left: -100px;
        opacity: 0;
        @include fadeOut(1s);
    }

    .logo-after {
        margin-top: -45px;
        margin-left: -100px;
        opacity: 1;
        @include fadeIn(1.5s);
    }

}

.cube-grid-container {
    margin: 0 auto;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin-top: -100px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}